<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cuImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cuImageLauncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>250CFA041E20BBA1009B4F0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25130C471E20E0C700830B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>251B09FD1E20D4AF00E79112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>255957EB1E1BD2A500B8469E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
